*.a
*.exe
*.o
*~
.deps
.dirstamp
.gdb-history
/GNUmakefile
/INSTALL
/aclocal.m4
/config.cache
/config.log
/config.status
/configure
/diffutils-*.tar.gz
/diffutils-*.tar.xz
/doc/.gitignore
/doc/diff.info
/doc/stamp-vti
/doc/version.texi
/gnulib-tests
/gnulib-tests/.gitignore
/gnulib-tests/locale/
/gnulib-tests/uniwidth/
/lib/.gitignore
/lib/c++defs.h
/lib/charset.alias
/lib/config.h
/lib/config.hin
/lib/configmake.h
/lib/stamp-h1
/lib/uniwidth
/lib/warn-on-use.h
/m4/.gitignore
/maint.mk
/po/*.pot
/po/*.sed
/po/.gitignore
/po/.reference
/po/LINGUAS
/po/Makefile.in.in
/po/Makevars
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/stamp-po
ABOUT-NLS
ChangeLog
ID
Makefile
Makefile.in
TAGS
autom4te.cache
build-aux
gnulib-tests/*.log
lib/arg-nonnull.h
lib/link-warning.h
man/*.1
po/*.gmo
po/*.po
src/cmp
src/diff
src/diff3
src/paths.h
src/sdiff
tests/*.log
